<div class="footer">
    <div class="elian">
        <h2>ELIAN</h2>
        <div class="social">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/elian-guiffault-081aa6257/" target="_blank"><img src="{{ base_path() }}/img/icons/linkedIn.svg" alt="logo linkedIn"></a>
            </div>
            <div class="github">
                <a href="https://github.com/ElianThe" target="_blank"><img src="{{ base_path() }}/img/icons/github.svg" alt="logo github"></a>
            </div>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="regis">
        <h2>Régis</h2>
        <div class="social">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/régis-vavasseur-26b2b8258/" target="_blank"><img src="{{ base_path() }}/img/icons/linkedIn.svg" alt="logo linkedIn"></a>
            </div>
            <div class="github">
                <a href="https://github.com/regisVavasseur" target="_blank"><img src="{{ base_path() }}/img/icons/github.svg" alt="logo github"></a>
            </div>
        </div>
    </div>
</div>

