<div class="footer">
    <div class=""></div>
    <div class="">
        <p id="footer">Footer</p>
    </div>
    <div class="">
        <p id="creators">Créateurs : Elian GUIFFAULT, Régis VAVASSEUR</p>
    </div>
</div>

