<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_path() }}/css/style.css" >
</head>

{% include "_layout/nav.twig" %}

    <body>
    <section id="main">

        {% block content %}
        {% endblock %}

    </section>

    {% include "_layout/footer.twig" %}

    </body>
</html>
