
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('categories') }}">Catégories</a></li>
        <li><a href="{{ url_for('newBox') }}">Créer une boxe</a></li>
    </ul>
</nav>