{% extends "_layout/main.twig" %}

{% block content %}

    <h2>Création d'un cadeau</h2>

    <form method="post" action="{{ url_for('newBox') }}" >
        <label for="libelle">Libelle</label>
        <input type="text" id="libelle" name="libelle"><br>

        <label for="description">description</label>
        <input type="text" id="description" name="description"><br>

        <label for="kdo">kdo</label>
        <input type="number" id="kdo" name="kdo"><br>

        <label for="message_kdo">message du kdo</label>
        <input type="text" id="message_kdo" name="message_kdo"><br>

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}