{% extends "_layout/main.twig" %}

{% block content %}

    <div class="boxe">
        <h2>contenu de la boxe </h2>


        <div class="cards">
            {% for prestation in prestations %}
                <div class="card">
                    <div class="content-card">
                        <img src="/img/{{ prestation.img }}" alt="">
                        <p> {{ prestation.libelle }}</p>
                    </div>
                    <div class="add-cart">
                        <button class="btn-secondary">add</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}