{% extends "_layout/main.twig" %}

{% block content %}

    <div class="boxe">
        <h2>Vous venez de créer une nouvelle boxe</h2>

        <p>Vous pouvez dès à présent la consulter dans la liste des boxes</p>
        {#<a href="{{ url_for('boxes') }}" class="btn btn-primary">Voir les boxes</a>  #}

        <p>Vous pouvez également la compléter en lui ajoutant des préstations</p>
        <a href="{{ url_for('prestations') }}" class="btn btn-primary">Ajouter des prestations</a>

    </div>



{% endblock %}