{% extends "_layout/main.twig" %}

{% block content %}

    <div class="boxes_list">
        <div>
            <h2>Nos boxes prédéfinies</h2>
        </div>
        <div>
            {% for box in boxes %}
                <a href="{{ url_for('boxDetails', { 'id': box.id }) }}">
                    <div class="box">
                        <div class="box_content">
                            <h3>{{ box.libelle }}</h3>
                            <p>{{ box.description }}</p>
                            {# <a href="{{ url_for('addCart', { 'id': box.id }) }}">Ajouter au panier</a>#}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>



{% endblock %}