{% extends "_layout/main.twig" %}

{% block content %}

    <div class="categories-page">
        <div class="header-content">
            <h1>Liste des catégories</h1>
            <a class="btn-primary" href="{{ url_for('newCategorieForm') }}">Ajouter une catégorie</a>
        </div>
        <div class="categories">
            {% for categorie in categories %}
                <div class="categorie">
                    <a href="{{ url_for('categorie', { 'id': categorie.id}) }}">
                        <h2>{{ categorie.libelle }}</h2>
                        <p>{{ categorie.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}