<html>
<head>
    <meta charset="UTF-8">
    <title>Catégorie {{ categorie.id }}</title>
</head>
<body>
<h1>Catégorie : {{ categorie.libelle }}</h1>
<h3>Description de la catégorie</h3>
<p>{{ categorie.description }}</p>

<a href="{{ basePath }}categories">Retour à la liste des catégories</a>

<a href="#" >Voir les prestations liées à la catégorie</a>

</body>
</html>