{% extends "_layout/main.twig" %}

{% block content %}

    <div class="categories-page">
        <h1>Liste des catégories</h1>
        <div class="categories">
            {% for categorie in categories %}
                <div class="categorie">
                    <a href="{{ url_for('categorie', { 'id': categorie.id}) }}">
                        <h2>{{ categorie.libelle }}</h2>
                        <p>{{ categorie.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('newCategorie') }}">test</a>
    </div>

{% endblock %}