<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Eliareg</title>
</head>
<body>
<h1>Bienvenue sur notre page d'accueil Eliareg</h1>
<a href="{{ basepath }}categories">Aller vers la liste des catégories</a>
</body>
</html>