{% extends "_layout/main.twig" %}


{% block content %}

    <div class="content">
        <div class="content-left">
            <h1 class="main-title">Bienvenue sur notre site Eliareg</h1>
            <div class="home-content">
                <p class="home-description">Vous pouvez consulter la liste des catégories en cliquant sur le bouton
                    ci-dessous</p>
                <a class="btn-primary" href="{{ url_for('categories') }}">Liste des catégories</a>
            </div>
        </div>
        <div class="content-right">
            <img src="./img/eliareg.JPG" alt="">
        </div>
    </div>

{% endblock %}