{% extends "_layout/main.twig" %}


{% block content %}

    <h1 class="main-title">Bienvenue sur notre page d'accueil Eliareg</h1>
    <div class="home-content">
        <p class="home-description">Vous pouvez consulter la liste des catégories en cliquant sur le bouton
            ci-dessous</p>
        <a class="btn-primary" href="{{ url_for('categories') }}">Aller vers la liste des catégories</a>
    </div>

{% endblock %}