{% extends "_layout/main.twig" %}

{% block content %}


    <form method="post" action="{{ url_for('inscriptionPost') }}" >
        <h2>S'inscrire</h2>

        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom"><br>

        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom"><br>

        <label for="email">email</label>
        <input type="text" id="email" name="email"><br>

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password"><br>

        <button type="submit">Continuer</button>
    </form>

{% endblock %}