{% extends "_layout/main.twig" %}

{% block content %}

    <div class="new-categorie">
        <form method="post" action="{{ url_for('newCategorie') }}">
            <label for="box_name_input">description</label>
            <input type="text" id="box_name_input" name="box_name">
            <input type="hidden" name="csrfToken" value="{{ csrfToken }}">
            <button type="submit">OK</button>
        </form>
    </div>

{% endblock %}
