{% extends "_layout/main.twig" %}


{% block content %}

<div class="prestations-categorie">
    {% for prestation in prestations %}
    <div class="prestation-categorie">
        <a  href="{{ url_for('prestation', {}, {'id' : prestation.id}) }}"><h1>{{ prestation.libelle }}</h1></a>
    </div>
    {% endfor %}
</div>

{% endblock %}